.field-input input:-webkit-autofill,
.field-input input:-webkit-autofill:hover,
.field-input input:-webkit-autofill:focus,
.field-input input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--ion-text-color);
  caret-color: var(--ion-text-color);
  -webkit-box-shadow: 0 0 0 1000px var(--ion-background-color) inset;
  box-shadow: 0 0 0 1000px var(--ion-background-color) inset;
  transition: background-color 9999s ease-out 0s;
}
